<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Simple Baseball Sim Using Vue.js</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>

<body>

    <div id="app">
        <h1 v-text="appName"></h1>
        <hr>
        <!-- <div>{{teamAway}} vs. {{teamHome}}</div> -->
        <team-matchup :away="teamAway" :home="teamHome"></team-matchup>
        <hr>
        <h2>Score</h2>
        <div class="score">
            <div>Away {{scoreData.runsAway}} | {{scoreData.basesAway}}</div>
            <div>Home {{scoreData.runsHome}} | {{scoreData.basesHome}}</div>
            <div>Inn: {{scoreData.inning}} Outs: {{scoreData.outs}}</div>
            <div>1st: {{scoreData.base1}} 2nd: {{scoreData.base2}} 3rd: {{scoreData.base3}}</div>
        </div>
        <hr>
        <div class="matchup">
            <div v-html="nowBattingDetail"></div>
        </div>
        <hr>
        <button v-if="!gameOver" @click="outcome()">Go!</button>
        <div>{{lastOutcome}}</div>
        <div>Game Over? {{gameOver}}</div>
        <hr>
        <table cellpadding="3" border=1>
            <tr>
                <th v-html="teamAway"></th>
                <th v-html="teamHome"></th>
            </tr>
            <tr>
                <td>
                    <div v-for="(batter, index) in lineups.away">
                        <div v-if="index===lineupPosition.away"><b>{{batter.name}}</b> ab: {{batter.AB}} h: {{batter.H}}
                            d: {{batter.D}} t: {{batter.T}} hr: {{batter.HR}} bb: {{batter.BB}}
                        </div>
                        <div v-else>{{batter.name}} ab: {{batter.AB}} h: {{batter.H}} d: {{batter.D}} t: {{batter.T}}
                            hr: {{batter.HR}}
                            bb: {{batter.BB}}</div>
                    </div>
                </td>
                <td>
                    <div v-html="testMethod(lineups.home, lineupPosition.home)"></div>
                </td>
            </tr>
        </table>
    </div>

    <script src="https://unpkg.com/vue@3.0.7/dist/vue.global.js"></script>
    <script>
        let scoreData = {
            runsHome: 0,
            runsAway: 0,
            inning: 1,
            inningTop: true,
            outs: 0,
            base1: 0,
            base2: 0,
            base3: 0,
            basesHome: 0,
            basesAway: 0,
        }

        let lineups = {
            home: [
                { name: 'Springer', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Bichette', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Guerrero', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Hernandez', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Gurriel', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Tapia', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Chapman', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Espinal', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Jansen', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
            ],
            away: [
                { name: 'LeMahieu', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Judge', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Rizzo', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Stanton', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Donaldson', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Hicks', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Gallo', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Kiner-Falefa', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
                { name: 'Higashioka', AB: 0, H: 0, D: 0, T: 0, HR: 0, BB: 0 },
            ],
        }

        //set app options
        const BaseballSimApp = {
            data() {
                return {
                    title: "Foo",
                    appName: 'Baseball Sim',
                    teamHome: 'Toronto',
                    teamAway: 'New York',
                    scoreData: scoreData,
                    lineups: lineups,
                    lineupPosition: {
                        home: 0,
                        away: 0,
                    },
                    nowBatting: 'away',
                    lastOutcome: 'Welcome to the game!',
                    gameOver: false,
                };
            },
            methods: {
                outcome() {
                    this.lastOutcome = this.generateOutcome();
                    this.updateGameData();
                    this.checkGameOver();
                },
                generateOutcome() {
                    const rand = Math.random();
                    const freq = {
                        hr: .05,
                        t: .01,
                        d: .06,
                        s: .15,
                        bb: .10
                    }
                    let outcome = "";
                    if (rand > (1 - freq.hr)) {
                        outcome = "HR";
                    } else if (rand > (1 - freq.hr - freq.t)) {
                        outcome = "3B";
                    } else if (rand > (1 - freq.hr - freq.t - freq.d)) {
                        outcome = "2B";
                    } else if (rand > (1 - freq.hr - freq.t - freq.d - freq.s)) {
                        outcome = "1B";
                    } else if (rand > (1 - freq.hr - freq.t - freq.d - freq.s - freq.bb)) {
                        outcome = "BB";
                    } else {
                        outcome = "OUT"
                    }
                    return outcome;
                },
                updateGameData() {

                    if (this.lastOutcome === "HR") {
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].AB++;
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].H++;
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].HR++;
                        const runsOnPlay = this.scoreData.base1 + this.scoreData.base2 + this.scoreData.base3 + 1;
                        const basesOnPlay = (this.scoreData.base1*3) + (this.scoreData.base2*2) + (this.scoreData.base3*1) + 4;
                        this.scoreData.base3 = 0;
                        this.scoreData.base2 = 0;
                        this.scoreData.base1 = 0;
                        if (this.nowBatting === 'away') {
                            this.scoreData.runsAway += runsOnPlay;
                            this.scoreData.basesAway += basesOnPlay;
                        } else {
                            this.scoreData.runsHome += runsOnPlay;
                            this.scoreData.basesHome += basesOnPlay;
                        }
                    }
                    if (this.lastOutcome === "3B") {
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].AB++;
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].H++;
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].T++;
                        const runsOnPlay = this.scoreData.base1 + this.scoreData.base2 + this.scoreData.base3;
                        const basesOnPlay = (this.scoreData.base1*3) + (this.scoreData.base2*2) + (this.scoreData.base3*1) + 3;
                        this.scoreData.base3 = 1;
                        this.scoreData.base2 = 0;
                        this.scoreData.base1 = 0;
                        if (this.nowBatting === 'away') {
                            this.scoreData.runsAway += runsOnPlay;
                            this.scoreData.basesAway += basesOnPlay;
                        } else {
                            this.scoreData.runsHome += runsOnPlay;
                            this.scoreData.basesHome += basesOnPlay;
                        }
                    }
                    if (this.lastOutcome === "2B") {
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].AB++;
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].H++;
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].D++;
                        const basesOnPlay = (this.scoreData.base1*2) + (this.scoreData.base2*2) + (this.scoreData.base3*1) + 2;
                        const runsOnPlay = this.scoreData.base2 + this.scoreData.base3;
                        this.scoreData.base3 = this.scoreData.base1;
                        this.scoreData.base2 = 1;
                        this.scoreData.base1 = 0;
                        if (this.nowBatting === 'away') {
                            this.scoreData.runsAway += runsOnPlay;
                            this.scoreData.basesAway += basesOnPlay;
                        } else {
                            this.scoreData.runsHome += runsOnPlay;
                            this.scoreData.basesHome += basesOnPlay;
                        }
                    }
                    if (this.lastOutcome === "1B") {
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].AB++;
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].H++;
                        const basesOnPlay = (this.scoreData.base1*1) + (this.scoreData.base2*1) + (this.scoreData.base3*1) + 1;
                        const runsOnPlay = this.scoreData.base3;
                        this.scoreData.base3 = this.scoreData.base2;
                        this.scoreData.base2 = this.scoreData.base1;
                        this.scoreData.base1 = 1;
                        if (this.nowBatting === 'away') {
                            this.scoreData.runsAway += runsOnPlay;
                            this.scoreData.basesAway += basesOnPlay;
                        } else {
                            this.scoreData.runsHome += runsOnPlay;
                            this.scoreData.basesHome += basesOnPlay;
                        }
                    }
                    if (this.lastOutcome === "BB") {
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].BB++;
                        let runsOnPlay = 0;
                        let basesOnPlay = 1;
                        if (this.scoreData.base1 && this.scoreData.base2 && this.scoreData.base3) {
                            this.scoreData.base3 = this.scoreData.base2;
                            this.scoreData.base2 = this.scoreData.base1;
                            runsOnPlay = 1;
                            basesOnPlay += 3;
                        }
                        if (this.scoreData.base1 && this.scoreData.base2) {
                            this.scoreData.base3 = this.scoreData.base2;
                            this.scoreData.base2 = this.scoreData.base1;
                            basesOnPlay += 2;
                        }
                        if (this.scoreData.base1) {
                            this.scoreData.base2 = this.scoreData.base1;
                            basesOnPlay += 1;
                        }
                        this.scoreData.base1 = 1;
                        if (this.nowBatting === 'away') {
                            this.scoreData.runsAway += runsOnPlay;
                            this.scoreData.basesAway += basesOnPlay;
                        } else {
                            this.scoreData.runsHome += runsOnPlay;
                            this.scoreData.basesHome += basesOnPlay;
                        }
                    }

                    //increment lineup position
                    if (this.lineupPosition[this.nowBatting] === 8) {
                        this.lineupPosition[this.nowBatting] = 0;
                    } else {
                        this.lineupPosition[this.nowBatting]++;
                    }

                    
                    if (this.lastOutcome === "OUT") {
                        this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].AB++;
                        this.scoreData.outs++;
                        if (this.scoreData.outs % 3 === 0) {
                            this.scoreData.outs = 0;
                            this.scoreData.base3 = 0;
                            this.scoreData.base2 = 0;
                            this.scoreData.base1 = 0;
                            if (this.nowBatting === 'away') {
                                this.nowBatting = 'home';
                                this.scoreData.inningTop = false;
                            } else {
                                this.nowBatting = 'away';
                                this.scoreData.inningTop = true;
                                this.scoreData.inning++;
                            }
                        }
                    }


                },
                checkGameOver() {
                    if (this.scoreData.inning > 9) {
                        this.gameOver = true;
                        this.scoreData.inning = 0;
                    }
                },
                //this could be used to return HTML template
                testMethod(lineup, lineupPosition) {
                    let returnX = "";
                    lineup.forEach((player, index) => {
                        returnX += `<div>`
                        if (index === lineupPosition) {
                            returnX += `<b>${player.name}</b> `
                        } else {
                            returnX += `${player.name} `
                        }
                        returnX += `ab: ${player.AB} 
                            h: ${player.H}
                            d: ${player.D}
                            t: ${player.T} 
                            hr: ${player.HR} 
                            bb: ${player.BB}
                        </div>`
                    });
                    return returnX
                }
            },
            computed: {
                nowBattingDetail() {
                    let currentBatter = "Now Batting: "
                    currentBatter += `${this.nowBatting} - ${this.lineups[this.nowBatting][this.lineupPosition[this.nowBatting]].name}`
                    return currentBatter;
                }
            }

        };


        //create the app
        const app = Vue.createApp(BaseballSimApp);

        //register any components
        app.component('team-matchup', {
            template: `<div>{{away}} vs. {{home}}</div>`,
            name: 'teamMatchup',
            props: ['away', 'home'],
        })

        //Mount the app
        app.mount("#app");

    </script>
</body>

</html>